<h3>Welcome to the PizzaHot</h3>

<div class= "row">
	<% @products.each do |p| %>
		<div class="col-md-3">
			<div>
				<%=p.title %>
			</div>

			<div>
				<img src="<%= p.path_to_image %>" width="265", height="200"  />
			</div>

			<div>
				<%=p.discription %>
			</div>

			<div>
				<%=p.price %>
			</div>

			<div>
				<%=p.is_spicy %>
			</div>

			<div>
				<%=p.is_veg %>
			</div>

			<div>
				<%=p.is_best_offer %>
			</div>

			<div>
				<button class="btn  btn-success "onclick="add_to_cart(<%=p.id%>)">Add to cart</button>
			</div>
			
		</div>
		
	<% end %>
</div>

<br />
<button class="btn btn-primary "onclick="something()">Button</button>

<script type="text/javascript">

	$(function() {
		update_orders_input();
		update_orders_button();
		
	});
</script>