<h2>Pizza selection</h2>

<% @product.each do |p| %>
	<p>	
		<span style="font-size: 120%; color: #999">Pizza name:<%=p.title %></span>
		<br />
		<span style="font-size: 120%; color: #941">Discription:<%=p.discription %></span>
		<br />
		<span style="font-size: 120%; color: #990">Price:<%=p.price %></span>
		<br />
		<span style="font-size: 120%; color: #499">Pizza size:<%=p.size %></span>
		<br />
		<span style="font-size: 120%; color: #351">Is spicy?:<%=p.is_spicy %></span>
		<br />
		<span style="font-size: 120%; color: #200">Is veg?:<%=p.is_veg %></span>
		<br />
		<span style="font-size: 120%; color: #091">Is Best offer?:<%=p.is_best_offer %></span>
		<br />
		<span style="font-size: 120%">Pizza image:<%=p.path_to_image %></span>
		<br />

	</p>
<% end %>